@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary-500: rgb(1, 19, 89);
  --font-ral: 'Raleway', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --breakpoint-md: 38rem;
  --breakpoint-lg: 54rem;
  --breakpoint-xl: 70rem;
  --breakpoint-2xl: 86rem;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply font-ral font-500 text-base text-primary-500;
  }
  section {
    @apply container mx-auto py-2 px-3;
  }
  label,
  .label {
    @apply block mb-1 capitalize dark:text-slate-50 text-sm font-500;
  }
  input,
  textarea,
  select {
    @apply block w-full py-2 px-4 outline-0 border border-gray-300 rounded-md dark:text-slate-50;
  }
  select {
    @apply dark:bg-slate-700;
  }
  input[type='file'] {
    @apply file:mr-4 file:rounded-full file:border-0 file:bg-green-50 file:px-4
        file:py-2 file:text-sm file:font-semibold file:text-amber-700
        hover:file:bg-amber-100 dark:file:bg-amber-600
        dark:file:text-amber-100 dark:hover:file:bg-amber-500;
  }
  input[type='checkbox'] {
    @apply w-4 h-4 text-green-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-green-500 dark:focus:ring-green-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500;
  }
  .aside::-webkit-scrollbar {
    @apply w-[8px];
  }
  .aside::-webkit-scrollbar-track {
    @apply bg-amber-600 rounded-2xl;
  }
}
